[viewBag]
==
<section id="one" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Apresentação</h2>
            </header>
            <p>Em 2010, o Projeto Cães-guia nasce como uma ação do Núcleo de Atendimento às Pessoas com Necessidades Específicas (NAPNE), recebendo o apoio da Secretaria de Educação Profissional e Tecnológica (SETEC/MEC) e da Secretaria Nacional de Promoção dos Direitos da Pessoa com Deficiência (SNPD/SDH), sendo posteriormente incorporado como uma das ações do Plano Nacional para as pessoas com deficiência, o “Viver sem Limite”, lançado em 2011 pelo Governo Federal. O projeto, que visa o aumento do número de cães-guia através da oferta inédita de curso de treinador e instrutor de cães-guia no Brasil, está sendo ampliado para outros seis Institutos Federais de diferentes regiões do país.</p>
            <ul class="actions">
                <li><a href="{{'apresentacao'|page}}" class="button">Veja mais</a></li>
            </ul>
        </div>
        <span class="image"><img src="{{'assets/images/ctcaoguia.png'|theme}}" alt="image" /></span>
    </div>
</section>