


<section id="three" class="main">
    <header class="major">
        <h2>Famílias Socializadoras</h2>
        <p>Caso você tenha interesse em ser uma família socializadora ou receber um cão-guia, preencha as informações abaixo, ou envie um e-mail para: ctcaesguia.camboriu@ifc.edu.br</p>
    </header>

    <section>
        <h2>Cadastro para Famílias Socializadoras</h2>
        <form method="post" action="#">
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="demo-name" id="demo-name" value="" placeholder="Nome" />
                </div>

                <div class="6u$ 12u$(xsmall)">
                    <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                </div>

                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Motivo de interesse pelo projeto -</option>
                            <option value="Familia">Ser família socializadora</option>
                            <option value="Aluno">Ser aluno do curso</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                </div>

                <div class="12u 12u$(xsmall)">
                    <input type="text" name="demo-outros" id="demo-outros" value="" placeholder="Se a opção for outros, descreva seus motivos:" />
                </div>

                <div class="8u 12u$(xsmall)">
                    <input type="text" name="demo-endereco" id="demo-endereco" value="" placeholder="Endereço" />
                </div>

                <div class="4u$ 12u$(xsmall)">
                    <input type="text" name="demo-numero" id="demo-numero" value="" placeholder="Número" />
                </div>

                <div class="6u 12u$(xsmall)">
                    <input type="text" name="demo-telefone" id="demo-telefone" value="" placeholder="Telefone"/>
                </div>

                <div class="6u$ 12u$(xsmall)">
                    <input type="text" name="demo-celular" id="demo-celular" value="" placeholder="Celular" />
                </div>


                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Estado -</option>
                        </select>
                    </div>
                </div>

                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Cidade -</option>
                        </select>
                    </div>
                </div>

                <p>Sua residência é:</p>



                <div class="6u 12u$(small)">
                    <input type="checkbox" id="demo-copy" name="demo-copy">
                    <label value="casa">Casa</label>
                </div>
                <div class="6u$ 12u$(small)">
                    <input type="checkbox" id="demo-human" name="demo-human">
                    <label value="apartamento">Apartamento</label>
                </div>

                <div class="12u$">
                    <textarea name="demo-message" id="demo-message" placeholder="Escreva sua mensagem" rows="6"></textarea>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Enviar" class="special" /></li>
                        <li><input type="reset" value="Limpar" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>


</section>
